[Unit]
Description=gunicorn daemon for ndeascloud
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/var/www/ndeascloud/ndeasdigital/backend
EnvironmentFile=/var/www/ndeascloud/ndeasdigital/backend/.env
# Activate virtualenv path
ExecStart=/var/www/ndeascloud/ndeasdigital/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn/ndeascloud.sock \
    backend_project.wsgi:application

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
